server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://localhost:5433/jobintel
    username: jobintel
    password: jobintel
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true





